[submodule "Libs/RandomSequence"]
	path = Libs/RandomSequence
	url = https://github.com/deadlab-plugins/Libs:RandomSequence.git
[submodule "Libs/libebur128"]
	path = Libs/libebur128
	url = https://github.com/deadlab-plugins/Libs:libebur128.git
[submodule "Libs/darknet"]
	path = Libs/darknet
	url = https://github.com/deadlab-plugins/Libs:darknet.git
[submodule "Libs/glm"]
	path = Libs/glm
	url = https://github.com/deadlab-plugins/Libs:glm.git
[submodule "Libs/RTConvolve"]
	path = Libs/RTConvolve
	url = https://github.com/deadlab-plugins/Libs:RTConvolve.git
[submodule "Libs/fmem"]
	path = Libs/fmem
	url = https://github.com/deadlab-plugins/Libs:fmem.git
[submodule "Libs/DSP-Cpp-filters"]
	path = Libs/DSP-Cpp-filters
	url = https://github.com/deadlab-plugins/Libs:DSP-Cpp-filters.git
[submodule "Libs/sndfilter"]
	path = Libs/sndfilter
	url = https://github.com/deadlab-plugins/Libs:sndfilter.git
[submodule "OpenBLAS"]
	path = Libs/OpenBLAS
	url = https://github.com/deadlab-plugins/Libs:OpenBLAS.git
[submodule "flac"]
	path = Libs/flac
	url = https://github.com/deadlab-plugins/Libs:flac.git
[submodule "iPlug2"]
	path = iPlug2
	url = https://github.com/deadlab-plugins/iPlug2.git
[submodule "iPlug2"]
	path = iPlug2/Dependencies/IPlug/WAM_AWP
	url = https://github.com/iPlug2/audioworklet-polyfill.git