[submodule "iPlug2"]
	path = iPlug2
	url = bluelabpxx@ssh.cluster026.hosting.ovh.net:bluelab.git
[submodule "BL-Plugins"]
	path = BL-Plugins
	url = bluelabpxx@ssh.cluster026.hosting.ovh.net:bluelab.git
[submodule "Libs/RandomSequence"]
	path = Libs/RandomSequence
	url = bluelabpxx@ssh.cluster026.hosting.ovh.net:bluelab.git
[submodule "Libs/libebur128"]
	path = Libs/libebur128
	url = bluelabpxx@ssh.cluster026.hosting.ovh.net:bluelab.git
[submodule "Libs/darknet"]
	path = Libs/darknet
	url = bluelabpxx@ssh.cluster026.hosting.ovh.net:bluelab.git
[submodule "Libs/glm"]
	path = Libs/glm
	url = bluelabpxx@ssh.cluster026.hosting.ovh.net:bluelab.git
[submodule "Libs/RTConvolve"]
	path = Libs/RTConvolve
	url = bluelabpxx@ssh.cluster026.hosting.ovh.net:bluelab.git
[submodule "Libs/fmem"]
	path = Libs/fmem
	url = bluelabpxx@ssh.cluster026.hosting.ovh.net:bluelab.git
[submodule "Libs/DSP-Cpp-filters"]
	path = Libs/DSP-Cpp-filters
	url = bluelabpxx@ssh.cluster026.hosting.ovh.net:bluelab.git
[submodule "Libs/sndfilter"]
	path = Libs/sndfilter
	url = bluelabpxx@ssh.cluster026.hosting.ovh.net:bluelab.git
[submodule "BuildSystem"]
	path = BuildSystem
	url = bluelabpxx@ssh.cluster026.hosting.ovh.net:bluelab.git
[submodule "TestSystem-mac"]
	path = TestSystem-mac
	url = bluelabpxx@ssh.cluster026.hosting.ovh.net:bluelab.git
[submodule "flac"]
	path = flac
	url = bluelabpxx@ssh.cluster026.hosting.ovh.net:bluelab.git
[submodule "OpenBLAS"]
	path = OpenBLAS
	url = bluelabpxx@ssh.cluster026.hosting.ovh.net:bluelab.git
[submodule "DSP-Cpp-filters"]
	path = DSP-Cpp-filters
	url = bluelabpxx@ssh.cluster026.hosting.ovh.net:bluelab.git
[submodule "bl-darknet"]
	path = bl-darknet
	url = bluelabpxx@ssh.cluster026.hosting.ovh.net:bluelab.git
