"H-40e000a.dat" DAT "./resources/hrtfs/KEMAR/H-40e000a.dat"
"H-40e006a.dat" DAT "./resources/hrtfs/KEMAR/H-40e006a.dat"
"H-40e013a.dat" DAT "./resources/hrtfs/KEMAR/H-40e013a.dat"
"H-40e019a.dat" DAT "./resources/hrtfs/KEMAR/H-40e019a.dat"
"H-40e026a.dat" DAT "./resources/hrtfs/KEMAR/H-40e026a.dat"
"H-40e032a.dat" DAT "./resources/hrtfs/KEMAR/H-40e032a.dat"
"H-40e039a.dat" DAT "./resources/hrtfs/KEMAR/H-40e039a.dat"
"H-40e045a.dat" DAT "./resources/hrtfs/KEMAR/H-40e045a.dat"
"H-40e051a.dat" DAT "./resources/hrtfs/KEMAR/H-40e051a.dat"
"H-40e058a.dat" DAT "./resources/hrtfs/KEMAR/H-40e058a.dat"
"H-40e064a.dat" DAT "./resources/hrtfs/KEMAR/H-40e064a.dat"
"H-40e071a.dat" DAT "./resources/hrtfs/KEMAR/H-40e071a.dat"
"H-40e077a.dat" DAT "./resources/hrtfs/KEMAR/H-40e077a.dat"
"H-40e084a.dat" DAT "./resources/hrtfs/KEMAR/H-40e084a.dat"
"H-40e090a.dat" DAT "./resources/hrtfs/KEMAR/H-40e090a.dat"
"H-40e096a.dat" DAT "./resources/hrtfs/KEMAR/H-40e096a.dat"
"H-40e103a.dat" DAT "./resources/hrtfs/KEMAR/H-40e103a.dat"
"H-40e109a.dat" DAT "./resources/hrtfs/KEMAR/H-40e109a.dat"
"H-40e116a.dat" DAT "./resources/hrtfs/KEMAR/H-40e116a.dat"
"H-40e122a.dat" DAT "./resources/hrtfs/KEMAR/H-40e122a.dat"
"H-40e129a.dat" DAT "./resources/hrtfs/KEMAR/H-40e129a.dat"
"H-40e135a.dat" DAT "./resources/hrtfs/KEMAR/H-40e135a.dat"
"H-40e141a.dat" DAT "./resources/hrtfs/KEMAR/H-40e141a.dat"
"H-40e148a.dat" DAT "./resources/hrtfs/KEMAR/H-40e148a.dat"
"H-40e154a.dat" DAT "./resources/hrtfs/KEMAR/H-40e154a.dat"
"H-40e161a.dat" DAT "./resources/hrtfs/KEMAR/H-40e161a.dat"
"H-40e167a.dat" DAT "./resources/hrtfs/KEMAR/H-40e167a.dat"
"H-40e174a.dat" DAT "./resources/hrtfs/KEMAR/H-40e174a.dat"
"H-40e180a.dat" DAT "./resources/hrtfs/KEMAR/H-40e180a.dat"
"H-30e000a.dat" DAT "./resources/hrtfs/KEMAR/H-30e000a.dat"
"H-30e006a.dat" DAT "./resources/hrtfs/KEMAR/H-30e006a.dat"
"H-30e012a.dat" DAT "./resources/hrtfs/KEMAR/H-30e012a.dat"
"H-30e018a.dat" DAT "./resources/hrtfs/KEMAR/H-30e018a.dat"
"H-30e024a.dat" DAT "./resources/hrtfs/KEMAR/H-30e024a.dat"
"H-30e030a.dat" DAT "./resources/hrtfs/KEMAR/H-30e030a.dat"
"H-30e036a.dat" DAT "./resources/hrtfs/KEMAR/H-30e036a.dat"
"H-30e042a.dat" DAT "./resources/hrtfs/KEMAR/H-30e042a.dat"
"H-30e048a.dat" DAT "./resources/hrtfs/KEMAR/H-30e048a.dat"
"H-30e054a.dat" DAT "./resources/hrtfs/KEMAR/H-30e054a.dat"
"H-30e060a.dat" DAT "./resources/hrtfs/KEMAR/H-30e060a.dat"
"H-30e066a.dat" DAT "./resources/hrtfs/KEMAR/H-30e066a.dat"
"H-30e072a.dat" DAT "./resources/hrtfs/KEMAR/H-30e072a.dat"
"H-30e078a.dat" DAT "./resources/hrtfs/KEMAR/H-30e078a.dat"
"H-30e084a.dat" DAT "./resources/hrtfs/KEMAR/H-30e084a.dat"
"H-30e090a.dat" DAT "./resources/hrtfs/KEMAR/H-30e090a.dat"
"H-30e096a.dat" DAT "./resources/hrtfs/KEMAR/H-30e096a.dat"
"H-30e102a.dat" DAT "./resources/hrtfs/KEMAR/H-30e102a.dat"
"H-30e108a.dat" DAT "./resources/hrtfs/KEMAR/H-30e108a.dat"
"H-30e114a.dat" DAT "./resources/hrtfs/KEMAR/H-30e114a.dat"
"H-30e120a.dat" DAT "./resources/hrtfs/KEMAR/H-30e120a.dat"
"H-30e126a.dat" DAT "./resources/hrtfs/KEMAR/H-30e126a.dat"
"H-30e132a.dat" DAT "./resources/hrtfs/KEMAR/H-30e132a.dat"
"H-30e138a.dat" DAT "./resources/hrtfs/KEMAR/H-30e138a.dat"
"H-30e144a.dat" DAT "./resources/hrtfs/KEMAR/H-30e144a.dat"
"H-30e150a.dat" DAT "./resources/hrtfs/KEMAR/H-30e150a.dat"
"H-30e156a.dat" DAT "./resources/hrtfs/KEMAR/H-30e156a.dat"
"H-30e162a.dat" DAT "./resources/hrtfs/KEMAR/H-30e162a.dat"
"H-30e168a.dat" DAT "./resources/hrtfs/KEMAR/H-30e168a.dat"
"H-30e174a.dat" DAT "./resources/hrtfs/KEMAR/H-30e174a.dat"
"H-30e180a.dat" DAT "./resources/hrtfs/KEMAR/H-30e180a.dat"
"H-20e000a.dat" DAT "./resources/hrtfs/KEMAR/H-20e000a.dat"
"H-20e005a.dat" DAT "./resources/hrtfs/KEMAR/H-20e005a.dat"
"H-20e010a.dat" DAT "./resources/hrtfs/KEMAR/H-20e010a.dat"
"H-20e015a.dat" DAT "./resources/hrtfs/KEMAR/H-20e015a.dat"
"H-20e020a.dat" DAT "./resources/hrtfs/KEMAR/H-20e020a.dat"
"H-20e025a.dat" DAT "./resources/hrtfs/KEMAR/H-20e025a.dat"
"H-20e030a.dat" DAT "./resources/hrtfs/KEMAR/H-20e030a.dat"
"H-20e035a.dat" DAT "./resources/hrtfs/KEMAR/H-20e035a.dat"
"H-20e040a.dat" DAT "./resources/hrtfs/KEMAR/H-20e040a.dat"
"H-20e045a.dat" DAT "./resources/hrtfs/KEMAR/H-20e045a.dat"
"H-20e050a.dat" DAT "./resources/hrtfs/KEMAR/H-20e050a.dat"
"H-20e055a.dat" DAT "./resources/hrtfs/KEMAR/H-20e055a.dat"
"H-20e060a.dat" DAT "./resources/hrtfs/KEMAR/H-20e060a.dat"
"H-20e065a.dat" DAT "./resources/hrtfs/KEMAR/H-20e065a.dat"
"H-20e070a.dat" DAT "./resources/hrtfs/KEMAR/H-20e070a.dat"
"H-20e075a.dat" DAT "./resources/hrtfs/KEMAR/H-20e075a.dat"
"H-20e080a.dat" DAT "./resources/hrtfs/KEMAR/H-20e080a.dat"
"H-20e085a.dat" DAT "./resources/hrtfs/KEMAR/H-20e085a.dat"
"H-20e090a.dat" DAT "./resources/hrtfs/KEMAR/H-20e090a.dat"
"H-20e095a.dat" DAT "./resources/hrtfs/KEMAR/H-20e095a.dat"
"H-20e100a.dat" DAT "./resources/hrtfs/KEMAR/H-20e100a.dat"
"H-20e105a.dat" DAT "./resources/hrtfs/KEMAR/H-20e105a.dat"
"H-20e110a.dat" DAT "./resources/hrtfs/KEMAR/H-20e110a.dat"
"H-20e115a.dat" DAT "./resources/hrtfs/KEMAR/H-20e115a.dat"
"H-20e120a.dat" DAT "./resources/hrtfs/KEMAR/H-20e120a.dat"
"H-20e125a.dat" DAT "./resources/hrtfs/KEMAR/H-20e125a.dat"
"H-20e130a.dat" DAT "./resources/hrtfs/KEMAR/H-20e130a.dat"
"H-20e135a.dat" DAT "./resources/hrtfs/KEMAR/H-20e135a.dat"
"H-20e140a.dat" DAT "./resources/hrtfs/KEMAR/H-20e140a.dat"
"H-20e145a.dat" DAT "./resources/hrtfs/KEMAR/H-20e145a.dat"
"H-20e150a.dat" DAT "./resources/hrtfs/KEMAR/H-20e150a.dat"
"H-20e155a.dat" DAT "./resources/hrtfs/KEMAR/H-20e155a.dat"
"H-20e160a.dat" DAT "./resources/hrtfs/KEMAR/H-20e160a.dat"
"H-20e165a.dat" DAT "./resources/hrtfs/KEMAR/H-20e165a.dat"
"H-20e170a.dat" DAT "./resources/hrtfs/KEMAR/H-20e170a.dat"
"H-20e175a.dat" DAT "./resources/hrtfs/KEMAR/H-20e175a.dat"
"H-20e180a.dat" DAT "./resources/hrtfs/KEMAR/H-20e180a.dat"
"H-10e000a.dat" DAT "./resources/hrtfs/KEMAR/H-10e000a.dat"
"H-10e005a.dat" DAT "./resources/hrtfs/KEMAR/H-10e005a.dat"
"H-10e010a.dat" DAT "./resources/hrtfs/KEMAR/H-10e010a.dat"
"H-10e015a.dat" DAT "./resources/hrtfs/KEMAR/H-10e015a.dat"
"H-10e020a.dat" DAT "./resources/hrtfs/KEMAR/H-10e020a.dat"
"H-10e025a.dat" DAT "./resources/hrtfs/KEMAR/H-10e025a.dat"
"H-10e030a.dat" DAT "./resources/hrtfs/KEMAR/H-10e030a.dat"
"H-10e035a.dat" DAT "./resources/hrtfs/KEMAR/H-10e035a.dat"
"H-10e040a.dat" DAT "./resources/hrtfs/KEMAR/H-10e040a.dat"
"H-10e045a.dat" DAT "./resources/hrtfs/KEMAR/H-10e045a.dat"
"H-10e050a.dat" DAT "./resources/hrtfs/KEMAR/H-10e050a.dat"
"H-10e055a.dat" DAT "./resources/hrtfs/KEMAR/H-10e055a.dat"
"H-10e060a.dat" DAT "./resources/hrtfs/KEMAR/H-10e060a.dat"
"H-10e065a.dat" DAT "./resources/hrtfs/KEMAR/H-10e065a.dat"
"H-10e070a.dat" DAT "./resources/hrtfs/KEMAR/H-10e070a.dat"
"H-10e075a.dat" DAT "./resources/hrtfs/KEMAR/H-10e075a.dat"
"H-10e080a.dat" DAT "./resources/hrtfs/KEMAR/H-10e080a.dat"
"H-10e085a.dat" DAT "./resources/hrtfs/KEMAR/H-10e085a.dat"
"H-10e090a.dat" DAT "./resources/hrtfs/KEMAR/H-10e090a.dat"
"H-10e095a.dat" DAT "./resources/hrtfs/KEMAR/H-10e095a.dat"
"H-10e100a.dat" DAT "./resources/hrtfs/KEMAR/H-10e100a.dat"
"H-10e105a.dat" DAT "./resources/hrtfs/KEMAR/H-10e105a.dat"
"H-10e110a.dat" DAT "./resources/hrtfs/KEMAR/H-10e110a.dat"
"H-10e115a.dat" DAT "./resources/hrtfs/KEMAR/H-10e115a.dat"
"H-10e120a.dat" DAT "./resources/hrtfs/KEMAR/H-10e120a.dat"
"H-10e125a.dat" DAT "./resources/hrtfs/KEMAR/H-10e125a.dat"
"H-10e130a.dat" DAT "./resources/hrtfs/KEMAR/H-10e130a.dat"
"H-10e135a.dat" DAT "./resources/hrtfs/KEMAR/H-10e135a.dat"
"H-10e140a.dat" DAT "./resources/hrtfs/KEMAR/H-10e140a.dat"
"H-10e145a.dat" DAT "./resources/hrtfs/KEMAR/H-10e145a.dat"
"H-10e150a.dat" DAT "./resources/hrtfs/KEMAR/H-10e150a.dat"
"H-10e155a.dat" DAT "./resources/hrtfs/KEMAR/H-10e155a.dat"
"H-10e160a.dat" DAT "./resources/hrtfs/KEMAR/H-10e160a.dat"
"H-10e165a.dat" DAT "./resources/hrtfs/KEMAR/H-10e165a.dat"
"H-10e170a.dat" DAT "./resources/hrtfs/KEMAR/H-10e170a.dat"
"H-10e175a.dat" DAT "./resources/hrtfs/KEMAR/H-10e175a.dat"
"H-10e180a.dat" DAT "./resources/hrtfs/KEMAR/H-10e180a.dat"
"H0e000a.dat" DAT "./resources/hrtfs/KEMAR/H0e000a.dat"
"H0e005a.dat" DAT "./resources/hrtfs/KEMAR/H0e005a.dat"
"H0e010a.dat" DAT "./resources/hrtfs/KEMAR/H0e010a.dat"
"H0e015a.dat" DAT "./resources/hrtfs/KEMAR/H0e015a.dat"
"H0e020a.dat" DAT "./resources/hrtfs/KEMAR/H0e020a.dat"
"H0e025a.dat" DAT "./resources/hrtfs/KEMAR/H0e025a.dat"
"H0e030a.dat" DAT "./resources/hrtfs/KEMAR/H0e030a.dat"
"H0e035a.dat" DAT "./resources/hrtfs/KEMAR/H0e035a.dat"
"H0e040a.dat" DAT "./resources/hrtfs/KEMAR/H0e040a.dat"
"H0e045a.dat" DAT "./resources/hrtfs/KEMAR/H0e045a.dat"
"H0e050a.dat" DAT "./resources/hrtfs/KEMAR/H0e050a.dat"
"H0e055a.dat" DAT "./resources/hrtfs/KEMAR/H0e055a.dat"
"H0e060a.dat" DAT "./resources/hrtfs/KEMAR/H0e060a.dat"
"H0e065a.dat" DAT "./resources/hrtfs/KEMAR/H0e065a.dat"
"H0e070a.dat" DAT "./resources/hrtfs/KEMAR/H0e070a.dat"
"H0e075a.dat" DAT "./resources/hrtfs/KEMAR/H0e075a.dat"
"H0e080a.dat" DAT "./resources/hrtfs/KEMAR/H0e080a.dat"
"H0e085a.dat" DAT "./resources/hrtfs/KEMAR/H0e085a.dat"
"H0e090a.dat" DAT "./resources/hrtfs/KEMAR/H0e090a.dat"
"H0e095a.dat" DAT "./resources/hrtfs/KEMAR/H0e095a.dat"
"H0e100a.dat" DAT "./resources/hrtfs/KEMAR/H0e100a.dat"
"H0e105a.dat" DAT "./resources/hrtfs/KEMAR/H0e105a.dat"
"H0e110a.dat" DAT "./resources/hrtfs/KEMAR/H0e110a.dat"
"H0e115a.dat" DAT "./resources/hrtfs/KEMAR/H0e115a.dat"
"H0e120a.dat" DAT "./resources/hrtfs/KEMAR/H0e120a.dat"
"H0e125a.dat" DAT "./resources/hrtfs/KEMAR/H0e125a.dat"
"H0e130a.dat" DAT "./resources/hrtfs/KEMAR/H0e130a.dat"
"H0e135a.dat" DAT "./resources/hrtfs/KEMAR/H0e135a.dat"
"H0e140a.dat" DAT "./resources/hrtfs/KEMAR/H0e140a.dat"
"H0e145a.dat" DAT "./resources/hrtfs/KEMAR/H0e145a.dat"
"H0e150a.dat" DAT "./resources/hrtfs/KEMAR/H0e150a.dat"
"H0e155a.dat" DAT "./resources/hrtfs/KEMAR/H0e155a.dat"
"H0e160a.dat" DAT "./resources/hrtfs/KEMAR/H0e160a.dat"
"H0e165a.dat" DAT "./resources/hrtfs/KEMAR/H0e165a.dat"
"H0e170a.dat" DAT "./resources/hrtfs/KEMAR/H0e170a.dat"
"H0e175a.dat" DAT "./resources/hrtfs/KEMAR/H0e175a.dat"
"H0e180a.dat" DAT "./resources/hrtfs/KEMAR/H0e180a.dat"
"H10e000a.dat" DAT "./resources/hrtfs/KEMAR/H10e000a.dat"
"H10e005a.dat" DAT "./resources/hrtfs/KEMAR/H10e005a.dat"
"H10e010a.dat" DAT "./resources/hrtfs/KEMAR/H10e010a.dat"
"H10e015a.dat" DAT "./resources/hrtfs/KEMAR/H10e015a.dat"
"H10e020a.dat" DAT "./resources/hrtfs/KEMAR/H10e020a.dat"
"H10e025a.dat" DAT "./resources/hrtfs/KEMAR/H10e025a.dat"
"H10e030a.dat" DAT "./resources/hrtfs/KEMAR/H10e030a.dat"
"H10e035a.dat" DAT "./resources/hrtfs/KEMAR/H10e035a.dat"
"H10e040a.dat" DAT "./resources/hrtfs/KEMAR/H10e040a.dat"
"H10e045a.dat" DAT "./resources/hrtfs/KEMAR/H10e045a.dat"
"H10e050a.dat" DAT "./resources/hrtfs/KEMAR/H10e050a.dat"
"H10e055a.dat" DAT "./resources/hrtfs/KEMAR/H10e055a.dat"
"H10e060a.dat" DAT "./resources/hrtfs/KEMAR/H10e060a.dat"
"H10e065a.dat" DAT "./resources/hrtfs/KEMAR/H10e065a.dat"
"H10e070a.dat" DAT "./resources/hrtfs/KEMAR/H10e070a.dat"
"H10e075a.dat" DAT "./resources/hrtfs/KEMAR/H10e075a.dat"
"H10e080a.dat" DAT "./resources/hrtfs/KEMAR/H10e080a.dat"
"H10e085a.dat" DAT "./resources/hrtfs/KEMAR/H10e085a.dat"
"H10e090a.dat" DAT "./resources/hrtfs/KEMAR/H10e090a.dat"
"H10e095a.dat" DAT "./resources/hrtfs/KEMAR/H10e095a.dat"
"H10e100a.dat" DAT "./resources/hrtfs/KEMAR/H10e100a.dat"
"H10e105a.dat" DAT "./resources/hrtfs/KEMAR/H10e105a.dat"
"H10e110a.dat" DAT "./resources/hrtfs/KEMAR/H10e110a.dat"
"H10e115a.dat" DAT "./resources/hrtfs/KEMAR/H10e115a.dat"
"H10e120a.dat" DAT "./resources/hrtfs/KEMAR/H10e120a.dat"
"H10e125a.dat" DAT "./resources/hrtfs/KEMAR/H10e125a.dat"
"H10e130a.dat" DAT "./resources/hrtfs/KEMAR/H10e130a.dat"
"H10e135a.dat" DAT "./resources/hrtfs/KEMAR/H10e135a.dat"
"H10e140a.dat" DAT "./resources/hrtfs/KEMAR/H10e140a.dat"
"H10e145a.dat" DAT "./resources/hrtfs/KEMAR/H10e145a.dat"
"H10e150a.dat" DAT "./resources/hrtfs/KEMAR/H10e150a.dat"
"H10e155a.dat" DAT "./resources/hrtfs/KEMAR/H10e155a.dat"
"H10e160a.dat" DAT "./resources/hrtfs/KEMAR/H10e160a.dat"
"H10e165a.dat" DAT "./resources/hrtfs/KEMAR/H10e165a.dat"
"H10e170a.dat" DAT "./resources/hrtfs/KEMAR/H10e170a.dat"
"H10e175a.dat" DAT "./resources/hrtfs/KEMAR/H10e175a.dat"
"H10e180a.dat" DAT "./resources/hrtfs/KEMAR/H10e180a.dat"
"H20e000a.dat" DAT "./resources/hrtfs/KEMAR/H20e000a.dat"
"H20e005a.dat" DAT "./resources/hrtfs/KEMAR/H20e005a.dat"
"H20e010a.dat" DAT "./resources/hrtfs/KEMAR/H20e010a.dat"
"H20e015a.dat" DAT "./resources/hrtfs/KEMAR/H20e015a.dat"
"H20e020a.dat" DAT "./resources/hrtfs/KEMAR/H20e020a.dat"
"H20e025a.dat" DAT "./resources/hrtfs/KEMAR/H20e025a.dat"
"H20e030a.dat" DAT "./resources/hrtfs/KEMAR/H20e030a.dat"
"H20e035a.dat" DAT "./resources/hrtfs/KEMAR/H20e035a.dat"
"H20e040a.dat" DAT "./resources/hrtfs/KEMAR/H20e040a.dat"
"H20e045a.dat" DAT "./resources/hrtfs/KEMAR/H20e045a.dat"
"H20e050a.dat" DAT "./resources/hrtfs/KEMAR/H20e050a.dat"
"H20e055a.dat" DAT "./resources/hrtfs/KEMAR/H20e055a.dat"
"H20e060a.dat" DAT "./resources/hrtfs/KEMAR/H20e060a.dat"
"H20e065a.dat" DAT "./resources/hrtfs/KEMAR/H20e065a.dat"
"H20e070a.dat" DAT "./resources/hrtfs/KEMAR/H20e070a.dat"
"H20e075a.dat" DAT "./resources/hrtfs/KEMAR/H20e075a.dat"
"H20e080a.dat" DAT "./resources/hrtfs/KEMAR/H20e080a.dat"
"H20e085a.dat" DAT "./resources/hrtfs/KEMAR/H20e085a.dat"
"H20e090a.dat" DAT "./resources/hrtfs/KEMAR/H20e090a.dat"
"H20e095a.dat" DAT "./resources/hrtfs/KEMAR/H20e095a.dat"
"H20e100a.dat" DAT "./resources/hrtfs/KEMAR/H20e100a.dat"
"H20e105a.dat" DAT "./resources/hrtfs/KEMAR/H20e105a.dat"
"H20e110a.dat" DAT "./resources/hrtfs/KEMAR/H20e110a.dat"
"H20e115a.dat" DAT "./resources/hrtfs/KEMAR/H20e115a.dat"
"H20e120a.dat" DAT "./resources/hrtfs/KEMAR/H20e120a.dat"
"H20e125a.dat" DAT "./resources/hrtfs/KEMAR/H20e125a.dat"
"H20e130a.dat" DAT "./resources/hrtfs/KEMAR/H20e130a.dat"
"H20e135a.dat" DAT "./resources/hrtfs/KEMAR/H20e135a.dat"
"H20e140a.dat" DAT "./resources/hrtfs/KEMAR/H20e140a.dat"
"H20e145a.dat" DAT "./resources/hrtfs/KEMAR/H20e145a.dat"
"H20e150a.dat" DAT "./resources/hrtfs/KEMAR/H20e150a.dat"
"H20e155a.dat" DAT "./resources/hrtfs/KEMAR/H20e155a.dat"
"H20e160a.dat" DAT "./resources/hrtfs/KEMAR/H20e160a.dat"
"H20e165a.dat" DAT "./resources/hrtfs/KEMAR/H20e165a.dat"
"H20e170a.dat" DAT "./resources/hrtfs/KEMAR/H20e170a.dat"
"H20e175a.dat" DAT "./resources/hrtfs/KEMAR/H20e175a.dat"
"H20e180a.dat" DAT "./resources/hrtfs/KEMAR/H20e180a.dat"
"H30e000a.dat" DAT "./resources/hrtfs/KEMAR/H30e000a.dat"
"H30e006a.dat" DAT "./resources/hrtfs/KEMAR/H30e006a.dat"
"H30e012a.dat" DAT "./resources/hrtfs/KEMAR/H30e012a.dat"
"H30e018a.dat" DAT "./resources/hrtfs/KEMAR/H30e018a.dat"
"H30e024a.dat" DAT "./resources/hrtfs/KEMAR/H30e024a.dat"
"H30e030a.dat" DAT "./resources/hrtfs/KEMAR/H30e030a.dat"
"H30e036a.dat" DAT "./resources/hrtfs/KEMAR/H30e036a.dat"
"H30e042a.dat" DAT "./resources/hrtfs/KEMAR/H30e042a.dat"
"H30e048a.dat" DAT "./resources/hrtfs/KEMAR/H30e048a.dat"
"H30e054a.dat" DAT "./resources/hrtfs/KEMAR/H30e054a.dat"
"H30e060a.dat" DAT "./resources/hrtfs/KEMAR/H30e060a.dat"
"H30e066a.dat" DAT "./resources/hrtfs/KEMAR/H30e066a.dat"
"H30e072a.dat" DAT "./resources/hrtfs/KEMAR/H30e072a.dat"
"H30e078a.dat" DAT "./resources/hrtfs/KEMAR/H30e078a.dat"
"H30e084a.dat" DAT "./resources/hrtfs/KEMAR/H30e084a.dat"
"H30e090a.dat" DAT "./resources/hrtfs/KEMAR/H30e090a.dat"
"H30e096a.dat" DAT "./resources/hrtfs/KEMAR/H30e096a.dat"
"H30e102a.dat" DAT "./resources/hrtfs/KEMAR/H30e102a.dat"
"H30e108a.dat" DAT "./resources/hrtfs/KEMAR/H30e108a.dat"
"H30e114a.dat" DAT "./resources/hrtfs/KEMAR/H30e114a.dat"
"H30e120a.dat" DAT "./resources/hrtfs/KEMAR/H30e120a.dat"
"H30e126a.dat" DAT "./resources/hrtfs/KEMAR/H30e126a.dat"
"H30e132a.dat" DAT "./resources/hrtfs/KEMAR/H30e132a.dat"
"H30e138a.dat" DAT "./resources/hrtfs/KEMAR/H30e138a.dat"
"H30e144a.dat" DAT "./resources/hrtfs/KEMAR/H30e144a.dat"
"H30e150a.dat" DAT "./resources/hrtfs/KEMAR/H30e150a.dat"
"H30e156a.dat" DAT "./resources/hrtfs/KEMAR/H30e156a.dat"
"H30e162a.dat" DAT "./resources/hrtfs/KEMAR/H30e162a.dat"
"H30e168a.dat" DAT "./resources/hrtfs/KEMAR/H30e168a.dat"
"H30e174a.dat" DAT "./resources/hrtfs/KEMAR/H30e174a.dat"
"H30e180a.dat" DAT "./resources/hrtfs/KEMAR/H30e180a.dat"
"H40e000a.dat" DAT "./resources/hrtfs/KEMAR/H40e000a.dat"
"H40e006a.dat" DAT "./resources/hrtfs/KEMAR/H40e006a.dat"
"H40e013a.dat" DAT "./resources/hrtfs/KEMAR/H40e013a.dat"
"H40e019a.dat" DAT "./resources/hrtfs/KEMAR/H40e019a.dat"
"H40e026a.dat" DAT "./resources/hrtfs/KEMAR/H40e026a.dat"
"H40e032a.dat" DAT "./resources/hrtfs/KEMAR/H40e032a.dat"
"H40e039a.dat" DAT "./resources/hrtfs/KEMAR/H40e039a.dat"
"H40e045a.dat" DAT "./resources/hrtfs/KEMAR/H40e045a.dat"
"H40e051a.dat" DAT "./resources/hrtfs/KEMAR/H40e051a.dat"
"H40e058a.dat" DAT "./resources/hrtfs/KEMAR/H40e058a.dat"
"H40e064a.dat" DAT "./resources/hrtfs/KEMAR/H40e064a.dat"
"H40e071a.dat" DAT "./resources/hrtfs/KEMAR/H40e071a.dat"
"H40e077a.dat" DAT "./resources/hrtfs/KEMAR/H40e077a.dat"
"H40e084a.dat" DAT "./resources/hrtfs/KEMAR/H40e084a.dat"
"H40e090a.dat" DAT "./resources/hrtfs/KEMAR/H40e090a.dat"
"H40e096a.dat" DAT "./resources/hrtfs/KEMAR/H40e096a.dat"
"H40e103a.dat" DAT "./resources/hrtfs/KEMAR/H40e103a.dat"
"H40e109a.dat" DAT "./resources/hrtfs/KEMAR/H40e109a.dat"
"H40e116a.dat" DAT "./resources/hrtfs/KEMAR/H40e116a.dat"
"H40e122a.dat" DAT "./resources/hrtfs/KEMAR/H40e122a.dat"
"H40e129a.dat" DAT "./resources/hrtfs/KEMAR/H40e129a.dat"
"H40e135a.dat" DAT "./resources/hrtfs/KEMAR/H40e135a.dat"
"H40e141a.dat" DAT "./resources/hrtfs/KEMAR/H40e141a.dat"
"H40e148a.dat" DAT "./resources/hrtfs/KEMAR/H40e148a.dat"
"H40e154a.dat" DAT "./resources/hrtfs/KEMAR/H40e154a.dat"
"H40e161a.dat" DAT "./resources/hrtfs/KEMAR/H40e161a.dat"
"H40e167a.dat" DAT "./resources/hrtfs/KEMAR/H40e167a.dat"
"H40e174a.dat" DAT "./resources/hrtfs/KEMAR/H40e174a.dat"
"H40e180a.dat" DAT "./resources/hrtfs/KEMAR/H40e180a.dat"
"H50e000a.dat" DAT "./resources/hrtfs/KEMAR/H50e000a.dat"
"H50e008a.dat" DAT "./resources/hrtfs/KEMAR/H50e008a.dat"
"H50e016a.dat" DAT "./resources/hrtfs/KEMAR/H50e016a.dat"
"H50e024a.dat" DAT "./resources/hrtfs/KEMAR/H50e024a.dat"
"H50e032a.dat" DAT "./resources/hrtfs/KEMAR/H50e032a.dat"
"H50e040a.dat" DAT "./resources/hrtfs/KEMAR/H50e040a.dat"
"H50e048a.dat" DAT "./resources/hrtfs/KEMAR/H50e048a.dat"
"H50e056a.dat" DAT "./resources/hrtfs/KEMAR/H50e056a.dat"
"H50e064a.dat" DAT "./resources/hrtfs/KEMAR/H50e064a.dat"
"H50e072a.dat" DAT "./resources/hrtfs/KEMAR/H50e072a.dat"
"H50e080a.dat" DAT "./resources/hrtfs/KEMAR/H50e080a.dat"
"H50e088a.dat" DAT "./resources/hrtfs/KEMAR/H50e088a.dat"
"H50e096a.dat" DAT "./resources/hrtfs/KEMAR/H50e096a.dat"
"H50e104a.dat" DAT "./resources/hrtfs/KEMAR/H50e104a.dat"
"H50e112a.dat" DAT "./resources/hrtfs/KEMAR/H50e112a.dat"
"H50e120a.dat" DAT "./resources/hrtfs/KEMAR/H50e120a.dat"
"H50e128a.dat" DAT "./resources/hrtfs/KEMAR/H50e128a.dat"
"H50e136a.dat" DAT "./resources/hrtfs/KEMAR/H50e136a.dat"
"H50e144a.dat" DAT "./resources/hrtfs/KEMAR/H50e144a.dat"
"H50e152a.dat" DAT "./resources/hrtfs/KEMAR/H50e152a.dat"
"H50e160a.dat" DAT "./resources/hrtfs/KEMAR/H50e160a.dat"
"H50e168a.dat" DAT "./resources/hrtfs/KEMAR/H50e168a.dat"
"H50e176a.dat" DAT "./resources/hrtfs/KEMAR/H50e176a.dat"
"H60e000a.dat" DAT "./resources/hrtfs/KEMAR/H60e000a.dat"
"H60e010a.dat" DAT "./resources/hrtfs/KEMAR/H60e010a.dat"
"H60e020a.dat" DAT "./resources/hrtfs/KEMAR/H60e020a.dat"
"H60e030a.dat" DAT "./resources/hrtfs/KEMAR/H60e030a.dat"
"H60e040a.dat" DAT "./resources/hrtfs/KEMAR/H60e040a.dat"
"H60e050a.dat" DAT "./resources/hrtfs/KEMAR/H60e050a.dat"
"H60e060a.dat" DAT "./resources/hrtfs/KEMAR/H60e060a.dat"
"H60e070a.dat" DAT "./resources/hrtfs/KEMAR/H60e070a.dat"
"H60e080a.dat" DAT "./resources/hrtfs/KEMAR/H60e080a.dat"
"H60e090a.dat" DAT "./resources/hrtfs/KEMAR/H60e090a.dat"
"H60e100a.dat" DAT "./resources/hrtfs/KEMAR/H60e100a.dat"
"H60e110a.dat" DAT "./resources/hrtfs/KEMAR/H60e110a.dat"
"H60e120a.dat" DAT "./resources/hrtfs/KEMAR/H60e120a.dat"
"H60e130a.dat" DAT "./resources/hrtfs/KEMAR/H60e130a.dat"
"H60e140a.dat" DAT "./resources/hrtfs/KEMAR/H60e140a.dat"
"H60e150a.dat" DAT "./resources/hrtfs/KEMAR/H60e150a.dat"
"H60e160a.dat" DAT "./resources/hrtfs/KEMAR/H60e160a.dat"
"H60e170a.dat" DAT "./resources/hrtfs/KEMAR/H60e170a.dat"
"H60e180a.dat" DAT "./resources/hrtfs/KEMAR/H60e180a.dat"
"H70e000a.dat" DAT "./resources/hrtfs/KEMAR/H70e000a.dat"
"H70e015a.dat" DAT "./resources/hrtfs/KEMAR/H70e015a.dat"
"H70e030a.dat" DAT "./resources/hrtfs/KEMAR/H70e030a.dat"
"H70e045a.dat" DAT "./resources/hrtfs/KEMAR/H70e045a.dat"
"H70e060a.dat" DAT "./resources/hrtfs/KEMAR/H70e060a.dat"
"H70e075a.dat" DAT "./resources/hrtfs/KEMAR/H70e075a.dat"
"H70e090a.dat" DAT "./resources/hrtfs/KEMAR/H70e090a.dat"
"H70e105a.dat" DAT "./resources/hrtfs/KEMAR/H70e105a.dat"
"H70e120a.dat" DAT "./resources/hrtfs/KEMAR/H70e120a.dat"
"H70e135a.dat" DAT "./resources/hrtfs/KEMAR/H70e135a.dat"
"H70e150a.dat" DAT "./resources/hrtfs/KEMAR/H70e150a.dat"
"H70e165a.dat" DAT "./resources/hrtfs/KEMAR/H70e165a.dat"
"H70e180a.dat" DAT "./resources/hrtfs/KEMAR/H70e180a.dat"
"H80e000a.dat" DAT "./resources/hrtfs/KEMAR/H80e000a.dat"
"H80e030a.dat" DAT "./resources/hrtfs/KEMAR/H80e030a.dat"
"H80e060a.dat" DAT "./resources/hrtfs/KEMAR/H80e060a.dat"
"H80e090a.dat" DAT "./resources/hrtfs/KEMAR/H80e090a.dat"
"H80e120a.dat" DAT "./resources/hrtfs/KEMAR/H80e120a.dat"
"H80e150a.dat" DAT "./resources/hrtfs/KEMAR/H80e150a.dat"
"H80e180a.dat" DAT "./resources/hrtfs/KEMAR/H80e180a.dat"
"H90e000a.dat" DAT "./resources/hrtfs/KEMAR/H90e000a.dat"
