<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>aiff_rw_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>alaw_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>benchmark.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>channel_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>check.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>checksum_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>chunk_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>command_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>compression_size_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>cpp_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>dither_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>dwvw_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>error_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>external_libs_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>fix_this.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>floating_point_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>format_check_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>header_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>headerless_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>largefile_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>locale_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>long_read_write_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>lossy_comp_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>misc_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>multi_file_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>ogg_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>pcm_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>peak_chunk_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>pipe_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>raw_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>rdwr_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
		<key>scale_clip_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
		<key>sfversion.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
		<key>sndfile-cmp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>36</integer>
		</dict>
		<key>sndfile-concat.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
		<key>sndfile-convert.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>38</integer>
		</dict>
		<key>sndfile-deinterleave.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>39</integer>
		</dict>
		<key>sndfile-info.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>40</integer>
		</dict>
		<key>sndfile-interleave.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>41</integer>
		</dict>
		<key>sndfile-metadata-get.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>42</integer>
		</dict>
		<key>sndfile-metadata-set.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>43</integer>
		</dict>
		<key>sndfile-play.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>44</integer>
		</dict>
		<key>sndfile-salvage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>45</integer>
		</dict>
		<key>sndfile.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>35</integer>
		</dict>
		<key>stdin_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>46</integer>
		</dict>
		<key>stdio_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>47</integer>
		</dict>
		<key>stdout_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>48</integer>
		</dict>
		<key>string_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>49</integer>
		</dict>
		<key>test_main.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>50</integer>
		</dict>
		<key>ulaw_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>51</integer>
		</dict>
		<key>virtual_io_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>52</integer>
		</dict>
		<key>win32_ordinal_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>53</integer>
		</dict>
		<key>win32_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>54</integer>
		</dict>
		<key>write_read_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>55</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0F19200BC5A14FD6B691E7A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11BA662B5BF0412A8ADFF428</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11C4463FC94545D582A2701E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11D4023FB1CD4749B3CB3F51</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11F8D65C0798402FAD51A2F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>181BAB5DF06E420BBD29193F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A72EC81F0944D0C83CD0516</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1AB4AC4B00484A7BB48BF02F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1AF599CC9DF246C38A58249F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BE73EC674AD4743BFEFC4ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CE82D996D9A405B9CE6DF38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D3333AA931448178519486E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>204B38B80DC44F0CB4C7BC85</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21CB8DDBE6B74EC6ADBE6880</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2676755B3A864B0DB7E9777F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30DF09A53B9A4CC8B95E6763</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>318B2D5474ED4FE3936B7E28</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31D30E95086C47F4A608FDBE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>357632DDBFB94FABA06D085C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35F682DAEFCD4C98BA4CE480</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>40BD01EC8E8F422D8E278877</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44E6260875784FCD98D50931</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CAAE86A64284C428C6F8D7D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D87FD882E244CF689EFD48C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E44AE779CAB4B1486045187</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6187B326C4C84C57B6559828</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>661880420B82411D960EA3BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>715D6C8221E14BE9ABB20162</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7552CE71C86543AEBF2E12FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7BBF29B373D24DB0BF823726</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>89600A3FE7F541D580608B61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CFFFA0DCA0A4E75864B5233</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>97AE9D9C5ADA43309D58E052</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>98E9ED89CBF543BB86729DA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0AADFFDC03444CFACF7A196</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A13792C84ADB41E0B300C001</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A27FC69CC9CC4AB8B58075B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A520588317144F9CBFA6DEE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7333FD5CC794624990436E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF6A0436C78A4AC682D87D10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BBAF67D6C7DA450D8CDE3383</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C061D5D4EDC841F388D4D3E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C201CF46DEA94F77A583445E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C3ED04769FCB4900A5D0852A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C7AA6B653CBA42E08E606218</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C7DE8E812C404ED49484CC6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C9071F6F0569496D8B6F0227</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C94D0C84BB0C44F7A7BEC523</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D15992DCA32C4B09AA6A3D7B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB05EB3CD4D942C28569AB45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DF3FF3FC8CF341D1BC6F7BFB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7F6051F3BC2476EB1149E20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E83CF0D7EA36437F8484CF91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9514CB00140480280866DF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E96F8755647344078E2BEB2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F197484FAFA1482D9AB54ED1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
