[net]
# Training
width=1024
height=32

# multichannel
channels=4

learning_rate=0.01

batch=1 #?
momentum=0.9
decay=0.0001 # ?
adam=1

clip=0.9 # TODO: implement it in darknet

B1=0.9
B2=0.999
eps=1e-7

max_batches = 10000000

#policy=constant

#[activation]
#activation=relu

[batchnorm]

#[convolutional]
#filters=8
#size=3
#stride=1
#pad=1
#activation=tanh

#[deconvolutional]
#filters=8
#size=3
#stride=1
#pad=1
##out_padding=1
##activation=relu

#[metrics]
#type_cost=L1
#type_acc=L1
#mean=1

#[metrics]
#type_cost=L1mask
#type_acc=MSEmask
#mean=1

[cost]
