[net]
# Training
width=1024
height=32

# multichannel
channels=4
#channels=1

learning_rate=0.01

batch=1 #?
momentum=0.9
decay=0.0001 # ?
adam=1

clip=0.9 # TODO: implement it in darknet

B1=0.9
B2=0.999
eps=1e-7

max_batches = 10000000

#policy=constant

[batchnorm]

[dense]
#units=1 #16 #64 #16
activation=linear

[reorg2]
reverse=1
stride_x=1024
stride_y=32

#[convolutional] 
#filters=4
#size=7
#stride=1
#pad=1
#activation=relu

#[convolutional] 
#filters=32
#size=1
#stride=1
#pad=1
#activation=relu

#[convolutional2] 
#filters=4
#size_x=3
#size_y=3
#15
#stride_x=1
#stride_y=1
#pad=1
#activation=relu

#[deconvolutional] 
#filters=4
#size=3
#stride=1
#pad=1
##out_padding=1
#activation=relu

#[deconvolutional2] 
#filters=4
#size_x=3
#size_y=7
#stride_x=1
#stride_y=1
#pad=1
#padding_x=1
#padding_y=1
##out_padding_x=1
##out_padding_y=1
#activation=relu

#[dense]
#units=4

[batchnorm]

#29
[metrics]
#type_cost=L1mask
type_cost=MSEmask
type_acc=MSEmask
mean=1
